extends layout

block content

  div.jumbotron
      h1= title
      p.
        Hello and welcome to this Microsoft Cognitive Services Node.js Sample. 
        
        Here you will find a variety of code samples demonstrating how to use the APIs in a NodeJS application.

        We will work to enhance these samples over time. We'd like to hear from you what you think we need!

  .row
    .col-sm-6.col-sm-offset-3
      .list-group
        a(href='/face').list-group-item Faces
        a(href='/text-analytics').list-group-item Text Analytics
          

          
